In [1]:
print ("hola")

hola

In [2]:
m = 4
n = 2
r = (m-n) * 3
r
rr = r/4
rr
print (rr)

1.5

In [3]:
m = 2
n = 4
m != n

True

In [4]:
"data" in  "Hola data mundo"
l1 = [1,2,3]
"data" not in l1

True

In [5]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(l1)
ult = len(l1)-1
print(ult)
del(l1[:2])
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
9
[3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l1 = [1,2,3]
l2 = ["a","b","c"]

try:
    l1 > l2
except:
    print("Error!!!")

print("Continua")

Error!!!
Continua

In [7]:
min(l1)

1

In [8]:
l1 = ["a","b","c","d","e","a","a"]
max(l1)
l1.index("a",2)
l1.sort(reverse=True)
l1

['e', 'd', 'c', 'b', 'a', 'a', 'a']

In [9]:
g1 = set(l1)
print(l1)
print(g1)

['e', 'd', 'c', 'b', 'a', 'a', 'a']
{'b', 'a', 'e', 'd', 'c'}

In [15]:
dicyear = {"enero":31, "febrero":28, "marzo":31, "abril":30}
l3 = list(dicyear.keys())
l3
vals = list(dicyear.values())
vals
items = list(dicyear.items())
items

[('enero', 31), ('febrero', 28), ('marzo', 31), ('abril', 30)]

In [11]:
#comparativa lista

leje = [1,2,3,4,5,6,25,23,30,35,40,87]
valorusuario = int(input("Introduce un numero: "))
valorusuario in leje

True

In [12]:
#Sueldo mes
Hw = int(input("¿Cuantas horas has trabajado este mes?: "))
Vh = float(input("¿cual es el precio por hora?:" ))
MS = Hw*Vh
print(MS)

1350.0

In [13]:
#numero mayor
Txtlista = input('lita separada por ",":')
lista = Txtlista.split(',')
print('El mayor es:',max(lista))

El mayor es:

In [14]:
#Valor 2ª posición
undict = {'primero':1, 'segundo':2}